* {
  /* resetar */
  margin: 0;
  padding: 0;
}

:root {
  --text-color: white;
  --bg-light-mode: url(./assets/bg-mobile.jpg);
  --stroke-color: rgba(255, 255, 255, 0.5);
  --fundo-lista: rgba(255, 255, 255, 0.1);
  --fundo-social-link: rgba(255, 255, 255, 0.2);
  --fundo-hoverlista: rgba(255, 255, 255, 0.05);
  --moon-star: url(./assets/moon-stars.svg);
  --back-button: rgba(255, 255, 255, 0.1);
  --border-button: 1px solid rgba(255, 255, 255, 0.5);
}

.light {
  --text-color: black;
  --bg-light-mode: url(./assets/bg-mobile-light.jpg);
  --stroke-color: rgba(0, 0, 0, 0.5);
  --fundo-lista: rgba(0, 0, 0, 0.05);
  --fundo-social-link: rgba(0, 0, 0, 0.1);
  --fundo-hoverlista: rgba(0, 0, 0, 0.02);
  --moon-star: url(./assets/sol.svg);
  --back-button: rgba(0, 0, 0, 0.05);
  --border-button: 1px solid rgba(0, 0, 0, 0.5);
}

body {
  /*
background-image: url(./assets/bg-mobile.jpg);
background-repeat: no-repeat; não vai deixar repetir
background-position: top center; centraliza e tira do topo
background-size: cover; preenche toda a pagina
*/

  /*agrupar em um atalho: */

  background: var(--bg-light-mode) no-repeat top center/cover;
  height: 100vh;
} /* URL é uma função */

/* seletor de um id (container) */

body * {
  font-family: "inter", sans-serif;
  color: var(--text-color);
}

#container {
  /* height: 712px; /* não é muito usado a altura */
  width: 100%;
  max-width: 588px;
  margin: 56px auto 0px;
}

#profile /* pai da caixa*/ {
  text-align: center;
  padding: 24px 0px 0px;
}

#profile img {
  /* trabalha o elemento dentro da caixa*/

  /* em display inline não da para colocar o margin auto*/

  width: 112px;
}

#profile p {
  font-weight: 500; /* peso */
  line-height: 24px; /* altura de linha */
  margin: 8px 0 24px 0;
}

#switch {
  margin: 4px auto;
  position: relative;
  width: 64px;
}

#switch button {
  width: 32px;
  height: 32px;
  transform: translateY(-50%);
  top: 50%;
  background: white var(--moon-star) no-repeat center;
  border: 0;
  left: 0;
  border-radius: 50%;
  position: absolute;
  z-index: 1;

  animation: slide-back .4s;
}

#switch button:hover {
outline: 8px solid var(--fundo-social-link);

}

.light #switch button {
  animation: slide-in .4s forwards;
}

#switch span /* por padrão o span é in-line */ {
  display: block;
  width: 62px;
  height: 24px;
  background: var(--back-button);
  border: var(--border-button);
  backdrop-filter: blur(4px);
  border-radius: 9999px;
}

/* links - lista */

ul {
  margin-top: 24px;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-bottom: 24px;
}

ul li a {
  display: flex;
  background: var(--fundo-lista);
  border: 1px solid var(--stroke-color);
  backdrop-filter: blur(4px);
  border-radius: 8px;
  align-items: center;
  justify-content: center;
  padding: 16px 24px;

  text-decoration: none;
  font-weight: 500;

  transition: background 0.2s;
}

/* pseudo - selector */

ul li a:hover {
  background: var(--fundo-hoverlista);
  border: 1.5px solid var(--text-color);
}

#social-links {
  display: flex;
  padding: 24px 0px;
  text-align: center;
  font-size: 24px;
  justify-content: center;
}

#social-links a:hover {
  background: var(--fundo-social-link);
  padding: 16px;
  transition: background 0.2s;
}

#social-links a {
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

footer {
  padding: 24px 0px;
  font-size: 14px;
  text-align: center;
  justify-content: center;
}

/* media queries */

@media (min-width: 700px) {
  :root {
    --bg-light-mode: url(./assets/bg-desktop-dark.jpg);
  }

  .light {
    --bg-light-mode: url(./assets/bg-desktop-light.jpg);
  }
}

/* animation */

@keyframes slide-in {
  from {
    left: 0;
  }
  to {
    left: 50%;
  }
}

@keyframes slide-back {

  from {
    left: 50%;
  }
  to {
    left: 0;
  }


}